.project-1 {
    background: url('../../assets/images/doctorii.png');
}

.project-2 {
    background: url('../../assets/images/foodMasters.png');
}

.project-3 {
    background: url('../../assets/images/vharaBari.png');
}

.project {
    background-size: 100%;
    background-position: top;
    /* background-repeat: no-repeat; */
    transition: background-position linear 40s;
}

.project:hover {
    background-position: bottom;
    /* background-size: 50%; */
    cursor: pointer;
}