.menu {
    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu-open {
    transform: translate(-600px, 0px);
}

@media only screen and (min-width: 768px) {
    .menu-open {
        transform: translate(-1100px, 0px);
    }
}