@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *,
    html {
        font-family: 'Ysabeau Infant', sans-serif;
    }
}

/* ---------------------------
        Universal Styles
------------------------------ */

*,
html {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}